/* For basic setting */
* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
	float: left;
}

body {
	margin: 10px;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 175%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: none;
}

.column {
	background-color: #cdcdcc;
	border: 1px solid #000000; 
	margin: 10px;
	/*padding: 10px;*/
}

.box {
	float: right;
	border: 1px solid #000000;
	position: relative;
	width: 150px;
	top: -1px;
	right: -1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 125%;
	text-align: center;
	font-weight: bold;
	padding: 15px;
}

#b1 {
	background-color: #e9a8a8;
	color: #000000;
}

#b2 {
	background-color: #df6262;
	color: #ffffff;
}

#b3 {
	background-color: #eec94d;
	color: #000000;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}

.row {
	width: 100%;
}

/* For desktop */
@media	(min-width: 992px) {
	.col-lg-4 {
		float: left;
		/*border:1px solid #000000;*/
		/*padding: 20px;*/
	}
	.col-lg-4 {
		width: 33.33%;
	}
}

/* For Tablet */
@media	(min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
		/*border:1px solid #000000;*/
		/*padding: 20px;*/
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

/* For mobile */
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		/*border:1px solid #000000;*/
		/*padding: 20px;*/
	}
	.col-sm-12 {
		width: 100%;
	}
}